/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

/* https://every-layout.dev/layouts/stack/ */

.stack-6 > * + * {
    @apply mt-6;
}

.stack-row-1 > * + * {
    @apply ml-1;
}

.text-shadow {
    text-shadow: 0px 0px 1px;
}

.text-shadow-inherit {
    text-shadow: inherit;
}

.bg-inherit {
    background-color: inherit;
}
